html, body {
  height: 100%;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#viewport {
  width: 640px;
  height: 256px;
  position:relative;
  overflow-x: auto;
  background-image: url('../images/water0.png');
}

#ports {
  margin-top: 96px;
  display: flex;
  justify-content: space-around;
}

#ports > .port {
  width: 64px;
  height: 32px;
  background-image: url('../images/port.png');
}

#ship {
  width: 128px;
  height: 64px;
  background-image: url('../images/ship.png');
  position: absolute;
  visibility: hidden;
}

#sailbutton {
  border: 0;
  background-color: #FB3640;
  border-block-start: 4px solid #d8040f;
  border-inline-start: 4px solid #d8040f;
  border-block-end: 4px solid #800108;
  border-inline-end: 4px solid #800108;
  color: white;
  font-family: inherit;
  position: fixed;
  padding-block: 5px;
  padding-inline: 5px;
  inset-block-end: 25%;
  inline-size: 320px;
  inset-inline-start: 25%;
  font-family: 'Press Start 2P', cursive;
  visibility: hidden;
}

#sailbutton:focus {
  border-block-end: 4px solid #d8040f;
  border-inline-end: 4px solid #d8040f;
  border-block-start: 4px solid #800108;
  border-inline-start: 4px solid #800108;
  
}

#message {
position: absolute;
width: 100%;
background-color: white;
font-family: 'Press Start 2P', cursive;
bottom: 0;
padding: 15px;
text-align: center;
}

#headsup-display {
  font-family: 'Press Start 2P', cursive;
  color: white;
  position: fixed;
  top: 0;
  right: 1%;
}

#form-div {
  font-family: 'Press Start 2P', cursive;
  color: black;
  background-color: white;
  border: 5px solid grey;
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 1%;
  margin-block-start: 1%;
  padding: 0.5rem;
}

[type="submit"] {
  background-color: #FB3640;
  border-block-start: 4px solid #d8040f;
  border-inline-start: 4px solid #d8040f;
  border-block-end: 4px solid #800108;
  border-inline-end: 4px solid #800108;
  color: white;
  font-family: inherit;
  padding: 10px 10px;
}

[type="submit"]:focus {
  border-block-end: 4px solid #d8040f;
  border-inline-end: 4px solid #d8040f;
  border-block-start: 4px solid #800108;
  border-inline-start: 4px solid #800108;
}

[type="text"] {
  height:35px;
}

#itinerary {
  font-family: 'Press Start 2P', cursive;
  background-color: white;
  position: fixed;
  inset-inline-start: 1%;
  border: 5px solid grey;
  padding: 5px;
}

#startbutton {
  border: 0;
  background-color: #FB3640;
  border-block-start: 4px solid #d8040f;
  border-inline-start: 4px solid #d8040f;
  border-block-end: 4px solid #800108;
  border-inline-end: 4px solid #800108;
  color: white;
  font-family: inherit;
  position: absolute;
  padding-block: 5px;
  padding-inline: 5px;
  inline-size: 50%;
  inset-inline-start: 25%;
  font-family: 'Press Start 2P', cursive;
  z-index: 100;
}

#startbutton:focus {
  border-block-end: 4px solid #d8040f;
  border-inline-end: 4px solid #d8040f;
  border-block-start: 4px solid #800108;
  border-inline-start: 4px solid #800108;
  
}

#intro-message {
  color: white;
  font-family: 'Press Start 2P', cursive;
  text-align:center;
}