html, body {
  height: 100%;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Press Start 2P', cursive; ;
}

#viewport {
  width: 640px;
  height: 256px;
  position:relative;
  overflow-x: auto;
  background-image: url('../images/water0.png');
  border: 5px solid grey;
}

#ports {
  margin-top: 96px;
  display: flex;
  justify-content: space-around;
}

#ports > .port {
  width: 64px;
  height: 32px;
  background-image: url('../images/port.png');
}

#ship {
  width: 128px;
  height: 0px;
  background-image: url('../images/ship.png');
  position: absolute;
  visibility: hidden;
}

.button {
  background-color: #FB3640;
  border-block-start: 4px solid #d8040f;
  border-inline-start: 4px solid #d8040f;
  border-block-end: 4px solid #800108;
  border-inline-end: 4px solid #800108;
  color: white;
}

.button:focus {
  border-block-end: 4px solid #d8040f;
  border-inline-end: 4px solid #d8040f;
  border-block-start: 4px solid #800108;
  border-inline-start: 4px solid #800108;
}

#sail-button {
  position: relative;
  padding-block: 5px;
  padding-inline: 5px;
  inline-size: 320px;
  inset-inline-start: 25%;
  visibility: hidden;
}

#message {
position:absolute;
inset-block-start: 460px;
width: 650px;
background-color: white;
padding-block: 15px;
text-align: center;
}

#headsup-display {
  color: white;
  position: fixed;
  top: 0;
  right: 1%;
}

#form-div {
  color: black;
  background-color: white;
  border: 5px solid grey;
  position: absolute;
  inset-block-start: 1%;
  inline-size: 640px;
  display: grid;

}

#form-div > p {
  font-size: 35px;
}
#form-div > * {
justify-self: center;
margin: 10px;
}

[type="submit"] {
  padding: 10px 10px;
}

[type="text"] {
  height:35px;
}

#itinerary {
  background-color: white;
  position: fixed;
  inset-inline-start: 1%;
  inset-block-start: 1%;
  border: 5px solid grey;
  padding: 5px;
}

#start-button {
  position: absolute;
  padding-block: 5px;
  padding-inline: 5px;
  inline-size: 50%;
  inset-inline-start: 25%;
  z-index: 100;
}

#intro-message {
  color: white;
  font-family: 'Press Start 2P', cursive;
  text-align:center;
  margin-block-start: 50px;
}

#restart-button {
  padding-inline: 20px;
  padding-block: 5px;
  inset-block: 0;
  position: absolute;
  height: max-content;
  font-size: smaller;
}